.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }
}

.google-sign-in {
  background-color: #4285f4 !important;
  color: white !important;

  &:hover {
    background-color: #357ae8 !important;
    border: none !important;
  }
}